body {
    display: flex;
    margin: 0;
    padding: 0;
    background: rgb(226, 226, 226);
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h1 {
    background: rgb(0, 0, 0);
    color: white;
    width: 600px;
    height: 150px;
    font-size: 70px;
    text-align: center;
    border-radius: 20% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 7px black;
    margin-top: 7%;
}

#lo {
    background: red;
    font-size: 70px;
}

#titulo {
    font-size: 70px;
    margin-left: -60%;
    margin-bottom: 5%;
    margin-top: 5%;
    text-shadow: 5px 5px 2px rgb(170, 167, 167);
}

#aa {
    font-size: 50px;
    width: 20%;
}

#bb {
    font-size: 50px;
    width: 20%;
}

#cc {
    font-size: 50px;
    width: 20%;
}

#dd {
    font-size: 50px;
    width: 20%;
}

#tr {
    margin-left: 15%;
}

#pedidos {
    position: fixed;
    left: 2%;
    top: 2%;
    cursor: text;
}

#caixadepedidos {
    width: 1000px;
    border-radius: 5%;
    height: 600px;
    position: fixed;
    margin-top: -130%;
    transition: 1s;
}

#pp {
    font-size: 80px;
    position: absolute;
    margin-left: 35%;
    margin-top: 10%;
}

#ultimo {
    width: 1000px;
    margin-left: 0;
    margin-top: 30px;
    height: 570px;
    flex-wrap: wrap;
    overflow-x: auto;
    background: rgb(52, 132, 207);
    color: rgb(0, 0, 0);
    border-radius: 5%;
}

#fechar {
    background: red;
    height: 30px;
    width: 30px;
    margin-left: 1000px;
    position: fixed;
}

@media screen and (max-width: 1167px) and (max-height: 896px) {
    body {
        display: flex;
        margin: 0;
        padding: 0;
        background: rgb(226, 226, 226);
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    h1 {
        background: rgb(0, 0, 0);
        color: white;
        width: 600px;
        height: 150px;
        font-size: 70px;
        text-align: center;
        border-radius: 20% 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 5px 7px black;
        margin-top: 7%;
    }

    #lo {
        background: red;
        font-size: 70px;
    }

    #titulo {
        font-size: 70px;
        margin-left: -60%;
        margin-bottom: 5%;
        margin-top: 5%;
        text-shadow: 5px 5px 2px rgb(170, 167, 167);
    }

    #aa {
        font-size: 50px;
        width: 20%;
    }

    #bb {
        font-size: 50px;
        width: 20%;
    }

    #cc {
        font-size: 50px;
        width: 20%;
    }

    #dd {
        font-size: 50px;
        width: 20%;
    }

    #tr {
        margin-left: 15%;
    }

    #pedidos {
        position: fixed;
        left: 2%;
        top: 2%;
        cursor: text;
    }

    #caixadepedidos {
        width: 800px;
        border-radius: 5%;
        height: 600px;
        position: fixed;
        margin-top: -120%;
        transition: 1s;
    }

    #pp {
        font-size: 80px;
        position: absolute;
        margin-left: 35%;
        margin-top: 10%;
    }

    #fechar {
        background: red;
        height: 30px;
        width: 30px;
        margin-left: 795px;
        position: fixed;
    }


}